body {
    background-color: #f8f9fa;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.title-site {
    color: white; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.87); /* Sombra para destacar o texto */
}
